<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%> </title>
  

    <%= render 'layouts/default' %>
    <%
=begin%>
 <%= render 'layouts/shim' %> 
<%
=end%>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
